@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');


/*general*/
body{
    font-family: 'JetBrains Mono', monospace;
    display: block;
    background-color: #2a1319;
    color: #ffffff;
    font-weight: 500;
}
.info {
    display: inline;
    padding-left: 250px;
}
.wrapper {
    max-width:600px;
    margin:auto;
    padding:60px 30px 60px 30px
}
.projects{
    display: block;
}
.titulo {
    display: inline;
    font: bold;
}
a{
    text-decoration: none;
    color: #ffae00;
}
a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}
h2{
    font-size: 20px;
    margin: 0;
    font: 600 bold;
}
tr td{
    margin-left: 10px;
}

/*rest*/

p{
    font-size: 14px;
}
.title{
    text-decoration: underline 3px;
    text-underline-offset: 10px;
}